* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(39, 33, 33);
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header p {
  padding: 10px;
}

.header a {
  text-decoration: none;
  color: white;
}

/* Nav Start */
nav {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 0px 0 #999;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .hover:hover {
  border-bottom: 1px solid black;
}

nav .logo {
  padding-left: 20px;
}

nav .logo img {
  width: 250px;
  height: auto;
}

nav .nav-text {
  display: flex;
}

nav .nav-items {
  margin-right: 30px;
}

nav .nav-items,
.nav-icon {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav .nav-links {
  padding: 10px;
}

nav .icons {
  padding-right: 30px;
}

nav .nav-text,
.icons {
  margin-top: 3px;
}

.colapse {
  display: none;
  height: min-content;
  padding-top: 5px;
  cursor: pointer;
  padding-left: 31px;
  /* display: grid; */
}

.bar {
  width: 38px;
  height: 5px;
  margin-bottom: 10px;
  background: black;
  border-radius: 10%;
  transition: 0.4s;
}

#responsive {
  display: none;
}

.sign-up {
  display: none;
}

.sign-up-search {
  display: block;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .nav-items {
    display: grid !important;
    position: absolute;
    width: 100%;
    top: 140px;
    left: 0;
    transform: translateY(-150%);
    z-index: 3;
    transition: 0.6s;
    height: 354px;
    /* background-color: rgb(234, 231, 231); */
  }

  .colapse {
    display: grid !important;
  }

  .sign-up-search {
    display: none;
  }

  .sign-up {
    display: block;
  }

  .nav-items {
    border-bottom: 1px solid black;
  }
}
/* input:checked ~ nav {
  background-color: rgb(234, 231, 231);
} */
input:checked ~ nav .nav-items {
  transform: translateY(0);
}
input:checked ~ .carousel {
  opacity: 0;
}

input:checked ~ nav .colapse {
  padding-top: 20px;
}

input:checked ~ nav .colapse .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .colapse .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .colapse .bar:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .nav-items {
    display: grid !important;
    position: absolute;
    width: 100%;
    top: 127px;
    left: 0;
    transform: translateY(-150%);
    z-index: 3;
    transition: 0.6s;
    height: 255px;
    /* background-color: rgb(234, 231, 231); */
  }
  .sign-up {
    display: block;
  }
  nav .logo {
    padding: 5px;
    padding-left: 17px;
  }

  .sign-up-search {
    display: none;
  }

  nav .logo img {
    width: 130px;
  }

  nav .nav-text,
  .icons {
    margin-top: -6px;
  }

  .nav-items {
    border-bottom: 1px solid black;
  }

  .bar {
    width: 31px;
  }

  .colapse {
    display: grid !important;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 1.2s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black;
}

/* Nav end */

/* Caraousel start */

.carousel {
  width: 100%;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 1px;
}

.carousel .slide {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  position: absolute;
  transition: 1s;
}

@media screen and (max-width: 767px) {
  .carousel {
    min-height: 190px;
    max-height: 190px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .carousel {
    max-height: 420px;
  }
}

/* Carausel end */

/* About us start */

.about_us {
  background-color: #f1f1ef;
}

.about {
  display: flex;
  /* justify-content: space-between; */
  /* margin-top: 30px; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-header h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  margin-top: 70px;
}
.about-image {
  margin-right: 0px;
  padding-left: 55px;
}
.about-image img {
  max-width: 85%;
  max-height: auto;
  /* border: 1px solid black; */
  padding: 20px 20px;
  background-color: white;
}

.about-text a {
  text-decoration: none;
  color: black;
}
.about-text {
  font-family: "Questrial", sans-serif;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text .about-body {
  padding-top: 40px;
  text-align: justify;
  opacity: 0.7;
  padding-right: 80px;
}

.btn-about {
  padding-top: 40px;
}

.btn-about button {
  outline: none;
  border: 2px solid black;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-about button:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 1130px) {
  .about {
    flex-direction: column;
  }

  .about-image {
    align-items: center;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
  }

  .about-body {
    /* padding: 0px 10px; */
    padding-top: 35px !important;
    text-align: center !important;
    padding-right: 40px !important;
    padding-left: 40px;
  }

  .btn-about {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .about-text {
    padding-top: 80px;
  }

  .about-text .heading {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
  }

  .about-image {
    align-items: center;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
  }

  .about-text {
    padding-top: 80px;
  }

  .about-body {
    /* padding: 0px 10px; */
    padding-top: 35px !important;
    text-align: center !important;
    padding-right: 40px !important;
    padding-left: 40px;
  }

  .btn-about {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .about-text .heading {
    text-align: center;
  }

  .about-text .heading h2 {
    font-size: 21px !important;
  }
}

/* About us end */

/* category start */
.category .heading {
  margin-top: 80px;
}
.category .heading h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.category-body .image {
  display: flex;
  /* justify-content: space-around; */
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.category-body .image {
  margin-top: 75px;
  margin-bottom: 110px;
  padding-left: 40px;
  padding-right: 40px;

  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); */
}

.category-body .image img {
  width: 440px;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(0 13px 7px rgba(0, 0, 0, 0.3));
  transition: 0.4s;
}
.category-body .image img:hover {
  padding: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .category-body .image img {
    width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .category-body .image img {
    width: 320px;
  }

  .category-body .image {
    flex-direction: column;
    gap: 45px;
    margin-top: 55px !important;
  }
}
/* category end */

/* products start */

.products {
  background-color: #f1f1ef;
}

.products .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .heading h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  margin-top: 80px;
}

.product-container {
  align-self: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 70px;
  margin-top: 70px;
}

.product {
  width: 320px;
  height: 498px;
  background-color: #f7f6f9;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 50px;
}

.product .product-image img {
  max-width: 320px;
  max-height: 320px;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
  padding: 20px 20px;
  border-radius: 30px;
}

.product-text {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.product-text .price {
  font-size: 25px;
  /* color: rgb(255, 112, 112); */
}

.product-text .name {
  font-size: 20px;
}

.product-description {
  font-family: "Monsterat", sans-serif;
  text-align: center;
  opacity: 0.8;
}

.product-buttons {
  display: flex;
  justify-content: center;
  /* padding: 0px 10px; */
  /* padding-right: 20px; */
}

.product .cart {
  background-color: #1b2741;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.product .buy {
  background-color: #1b2741;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.product .buy:hover {
  transform: scale(1.1);
}
.product .cart:hover {
  transform: scale(1.1);
}

.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-container a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  .product-container {
    grid-template-columns: auto;
  }
  .products .heading h2::before {
    width: 100px;
    right: 87px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1130px) {
  .product-container {
    grid-template-columns: auto auto;
    margin-top: 45px !important;
  }
}

.reasons .reasons-header h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  margin-top: 80px;
}
/* products end */

/* Why us start */
.reasons {
  margin-top: 25px;
  margin-bottom: 70px;
  padding: 0px 30px;
}
.reason {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.reason .box {
  background-color: #002c3e;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-family: "Monsterat", sans-serif;
  width: 370px;
  height: 235px;
  margin-left: 10px;
  margin-right: 10px;
}

.box-icon {
  padding-top: 35px;
}

.box-text {
  padding-top: 35px;
}

@media screen and (max-width: 880px) {
  .reason {
    flex-direction: column;
  }

  .box {
    max-width: 300px;
    max-height: 225px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 881px) and (max-width: 905px) {
  .reason .box {
    height: 253px;
    width: 387px;
  }
}
/* Why us end */

/* footer start */
.footer {
  background-color: #141517;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer h2 {
  color: white;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  margin: 0;
}
/* footer end */
